{% extends 'base.html' %}

{% block contenido %}

<h2>Registrar Paciente</h2>

<form method="POST">

<div class="mb-3">
    <label>Cédula</label>
    <input type="text" class="form-control" name="cedula" required>
</div>
    <div class="mb-3">
        <label>Nombre</label>
        <input type="text"
               class="form-control"
               name="nombre"
               required>
    </div>

    <div class="mb-3">
        <label>Edad</label>
        <input type="number"
               class="form-control"
               name="edad">
    </div>

    <div class="mb-3">
        <label>Sexo</label>
        <input type="text"
               class="form-control"
               name="sexo">
    </div>

    <div class="mb-3">
        <label>Teléfono</label>
        <input type="text"
               class="form-control"
               name="telefono">
    </div>

    <div class="mb-3">
        <label>Dirección</label>
        <input type="text"
               class="form-control"
               name="direccion">
    </div>
<div class="mb-3">
    <label>Estado de Riesgo</label>

    <input type="text"
           class="form-control"
           value="Se calculará automáticamente con IA"
           readonly>
</div>

</div>
    <button class="btn btn-success">
        Guardar Paciente
    </button>

</form>

{% endblock %}
